.test {
    display: block;
    width: 240px;
    height: 240px;
    
    border-radius: 20px;

    margin: 10px;
    padding: 30px;

    color:black;
    background-color: beige;

    font-family: monospace;
    line-height: 1.5em;
    
}